---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Philosophy from "../components/Philosophy.astro";
import BookingForm from "../components/BookingForm.astro";
import "../styles/global.css";
---

<Layout title="REN WAZA // Handmade Sushi Experience">
	<main class="bg-waza-black min-h-screen">
		<Hero />

		<Philosophy />

		<BookingForm />
	</main>
</Layout>
